.wrapper {
  display: flex;
}
.wrapper > .showcase-cont {
  flex: 1009;
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}
.img-cont {
  display: block;
  flex: 986;
  max-width: 100%;
  height: auto;
}
.first-purple {
  height: 210px;
  background: #502eff;
}
